# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
light_wallet_intro/.dfx/

# frontend code
light_wallet_intro/node_modules/
light_wallet_intro/dist/




# Various IDEs and Editors
flutter_light_wallet/.vscode/
flutter_light_wallet/.idea/
flutter_light_wallet/**/*~

# Various IDEs and Editors
light_wallet_nft/.vscode/
light_wallet_nft/.idea/
light_wallet_nft/**/*~

# Mac OSX temporary files
.DS_Store
light_wallet_nft/**/.DS_Store

# dfx temporary files
light_wallet_nft/.dfx/

# frontend code
light_wallet_nft/node_modules/
light_wallet_nft/dist/
