# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
light_wallet_intro/.dfx/

# frontend code
light_wallet_intro/node_modules/
light_wallet_intro/dist/


# dfx temporary files
flutter_light_wallet/light_wallet/.dfx/

# frontend code
flutter_light_wallet/light_wallet/node_modules/
flutter_light_wallet/light_wallet/dist/

# Various IDEs and Editors
flutter_light_wallet/.vscode/
flutter_light_wallet/.idea/
flutter_light_wallet/**/*~